{% extends "base.html" %}

    {% block content %}
        <h1>Build A Blog!</h1>

        {% if entries|length == 0 %}
        <p>No entries yet.</p>
        {% else %}
            {% for blog in entries %}
                <h2>{{blog.title}}</h2>
                <p>{{blog.body}}</p>
                <form method="post" action="/delete-entry" style="display:inline-block;">
                    <input type="hidden" name="entry-id" value="{{blog.id}}" />
                    <input type="submit" value="Delete Entry" />
                </form>
                <br>
            {% endfor %}
        {% endif %}

    {% endblock %}
