<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            p.error {color: red;}
        </style>
        <title>{{title}}</title>
    </head>
    <body>
        <ul class="nav">
          <li class="nav-item" style="display:inline-block;">
            <a class="nav-link" href="/newpost">Add A Blog Entry</a>
          </li>
          <li class="nav-item" style="display:inline-block;">
            <a class="nav-link" href="/blog">View All Entries</a>
          </li>
        </ul>

        {% block content %}
        {% endblock  %}

    </body>
</html>
