{% extends "base.html" %}

    {% block content %}
        <h1>Build A Blog!</h1>

        {% if entries|length == 0 %}
        <p>No entries yet.</p>
        {% else %}
            <ul>
                {% for entry in entries %}
                <li>{{entry.title}}
                    <form method="post" action="/delete-entry" style="display:inline-block;">
                        <input type="hidden" name="entry-id" value="{{entry.id}}" />
                        <input type="submit" value="Delete Entry" />
                    </form>
                </li>
                {% endfor %}
            </ul>
        {% endif %}


        <form action="" method="post">
            <div class="form-group">
                <label for="title">Title of your blog entry: </label>
                <br>
                <input type="text" name="title" id="title" placeholder="My First Blog Post"></input>
            </div>
            <br>
            <div class="form-group">
                <label for="body">Text of your blog entry: </label>
                <br>
                <textarea name="title" id="title" rows="6" cols="50" placeholder="Your scintillating content goes here."></textarea>
            </div>
            <br>
            <input type="hidden" name="id" id="id">
            <input type="submit" value="Add Blog Entry">
        </form>
    {% endblock %}
